<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>{% block title %}      {% endblock %}</title>
    {% block head %}
        <!-- Placeholder for Other Imports -->
    {% endblock %}
</head>
<body>
    {#
        is used for comments.
        {% ... %} is used for statements.
        {{ ... }} is used for variables.
        # ... ## is used for line statements.
    #}

    <div>
        <ul style="list-style-type: none;float: right;font-size: large;">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            {% if 'user' in session %}
            <li><a href="{{url_for('logout')}}">logout</a></li>
            {% else %}
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('singUp')}}">Sing Up</a></li>
            {% endif%}
        </ul>
    </div>

    {% block content %}
    <!-- Placeholder for Page Content -->
    {% endblock %}

</body>
</html>