{% extends "base.html" %}

{% block title %} {{animal.name}}'s Details - Paws Rescue Center {% endblock %}

{% block content %}
<div style="margin:2%">
    <div style="float:left; border-style:double;">
        <img src= "{{url_for('static', filename = animal.id|string+'.jpg')}}" height="350" >
        <button style="background-color:tomato" onclick="location.href='{{ url_for('delete_animal', animal_id = animal.id)}}'"> Delete Animal </button>
    </div>
    <div style="float:left; margin:10px;">
        <h1 class="title">{{ animal.name }}</h1>
        <p><b>Age: &nbsp;</b> {{ animal.age }}</p>
        <p><b>Bio: &nbsp;</b> {{ animal.bio }}
        <hr>

        <h2> Edit Animal </h2>
        <!-- Error Message  -->
        {% if message %}
            <span style="background-color:tomato">{{ message }}</span><br>
        {% endif %}
        <!-- Form for Editing the Animal -->
        <form action="{{url_for('animal_details', animal_id = animal.id)}}" method="POST" style="padding:5px;">
            {{ form.name.label }}: <br>
            {{ form.name(value = animal.name) }}
            <br>
            {{ form.age.label }}: <br>
            {{ form.age(value = animal.age) }}
            <br>
            {{ form.bio.label }}: <br>
            {{ form.bio(value = animal.bio) }}
            <br>
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
    </div>
</div>
{% endblock %}