{% extends "base.html" %}

{% block title %} Home - Paws Rescue Center {% endblock %}

{% block content %}
    <h1 id = "title"><center>Paws Rescue Center 🐾</center></h1>
    <table>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Age</th>
      <th>Bio</th>
    </tr>

    {% for animal in animals %}
        <tr>
          <td><img src= "{{ url_for( 'static', filename=loop.index|string+'.jpg') }}" height="100" ></td>
          <td>{{ animal['Name'] }}</td>
          <td>{{ animal['Age'] }}</td>
          <td>{{ animal['Bio'] }}</td>
        </tr>
    {% endfor %}

    </table>
{% endblock %}